@using BeamOs.WebApp.Components.Layout

<MudBreakpointProvider>
    <MudHidden Breakpoint="Breakpoint.MdAndUp" Invert="true">
        <div class="absolute right-0 top-0 w-[300px] p-4 flex flex-col h-full pointer-events-none">
            <MudPaper Class="max-h-full h-fit overflow-auto pointer-events-auto">
                @ChildContent
            </MudPaper>
        </div>
    </MudHidden>
    <MudHidden Breakpoint="Breakpoint.SmAndDown" Invert="true">
        <div class="fixed bottom-0 left-0 w-full flex justify-center pointer-events-none z-50">
            <div class="relative w-full max-w-md">
                <div class="absolute left-1/2 -translate-x-1/2 bottom-4 w-24 h-2 rounded-full"></div>
                <MudPaper Class="mx-auto w-full rounded-t-2xl shadow-lg pointer-events-auto transition-transform duration-300 translate-y-4 hover:translate-y-0">
                    @ChildContent
                </MudPaper>
            </div>
        </div>
    </MudHidden>
</MudBreakpointProvider>

@code {
    [Parameter]
    public RenderFragment ChildContent { get; set; }
}
