@using Fluxor
@using Fluxor.Blazor.Web.Components
@using MudBlazor
@inherits FluxorLayout

@inject IState<MainLayoutState> MainLayoutState;

<MudThemeProvider Theme="@_baseTheme"
                  IsDarkMode="@MainLayoutState.Value.IsDarkMode" />

<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<MudLayout>
    @Body
</MudLayout>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>


@code {
    protected MudTheme _baseTheme = new();
}
