@using MudBlazor

<MudBreakpointProvider>
    <MudHidden Breakpoint="Breakpoint.SmAndDown" Invert="true">
        <MudDrawer Open="true" Variant="DrawerVariant.Temporary" Anchor="Anchor.Left">
        @* <MudDrawer @bind-Open="_isOpen" Variant="DrawerVariant.Temporary" Anchor="Anchor.Left"> *@
            <ChildContent>
                <div class="flex flex-col">
                    <MudButton OnClick="ToggleDrawer" Color="Color.Inherit" Icon="@Icons.Material.Filled.Close" Class="close-button" />
                    @ChildContent
                </div>
            </ChildContent>
        </MudDrawer>
    </MudHidden>
    <MudHidden Breakpoint="Breakpoint.MdAndUp" Invert="true">
        <div class="flex flex-col">
            <MudButton OnClick="ToggleDrawer" Color="Color.Inherit" Icon="@Icons.Material.Filled.Close" Class="close-button" />
            @ChildContent
        </div>
    </MudHidden>
</MudBreakpointProvider>

@code {
    [Parameter] public RenderFragment ChildContent { get; set; }

    private bool _isOpen = true;
    private bool _isMobile = false;

    private void ToggleDrawer()
    {
        _isOpen = !_isOpen;
    }
}
