@page "/auth"

@using Microsoft.AspNetCore.Authorization

@* @attribute [Authorize] *@

<PageTitle>Auth</PageTitle>

<h1>You are authenticated</h1>

<AuthorizeView>
    <Authorized>
        Hello @context.User.Identity?.Name!
    </Authorized>
    <NotAuthorized>
        You are not authorized :'(
    </NotAuthorized>
</AuthorizeView>
