@page "/test"

<h3>ResultChartsComponent</h3>

<div class="chart-container h-full w-1/3">
    <canvas id="chart1" class="h-1/3"></canvas>
    <canvas id="chart2" class="h-1/3"></canvas>
    <canvas id="chart3" class="h-1/3"></canvas>
</div>
