<MudSimpleTable FixedHeader="true" Striped="true" Dense="true" Class="w-max max-h-full pointer-events-auto">
    <thead class="font-bold">
        <tr>
            <th>
                Expected @ComparedValueName
            </th>
            <th class="font-bold">
                Calculated @ComparedValueName
            </th>
            <th class="font-bold">
                Difference
            </th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < AssertionResultArray.ExpectedValue.Length; i++)
        {
            <tr>
                <td>@AssertionResultArray.ExpectedValue[i]</td>
                <td>@AssertionResultArray.CalculatedValue?.ElementAt(i)</td>
                <th>
                    @(GetDifferenceOrNull(
                        AssertionResultArray.ExpectedValue[i],
                        AssertionResultArray.CalculatedValue?.ElementAt(i))?
                        .ToString() ?? "N/A")
                </th>
            </tr>
        }
    </tbody>
</MudSimpleTable>
