<pre id="report-code-block" class="line-numbers mte-selected-Killed mte-selected-Survived mte-selected-NoCoverage mte-selected-Pending flex rounded-md py-4">        <code class="flex language-cs">
<table><tr class="line"><td class="line-number"></td><td class="line-marker"></td><td class="code flex"><span><!--?lit$094480238$-->    <span class="token keyword">public</span> <span class="token return-type class-name">Matrix<span class="token punctuation">&lt;</span><span class="token keyword">double</span><span class="token punctuation">&gt;</span></span> <span class="token function">GetRotationMatrix</span><span class="token punctuation">(</span><span class="token punctuation">)</span></span><!--?lit$094480238$--></td></tr><!----><!----><tr class="line"><td class="line-number"></td><td class="line-marker"></td><td class="code flex"><span><!--?lit$094480238$-->    <span class="token punctuation"><span class="mutant border-none CompileError" title="Block removal mutation CompileError" mutant-id="525">{</span></span><span class="mutant border-none CompileError" title="Block removal mutation CompileError" mutant-id="525"></span></span><!--?lit$094480238$--></td></tr><!----><!----><tr class="line"><td class="line-number"></td><td class="line-marker"></td><td class="code flex"><span><!--?lit$094480238$-->        <span class="mutant border-none CompileError" title="Block removal mutation CompileError" mutant-id="525"><span class="token class-name"><span class="token keyword">var</span></span> rxx <span class="token operator">=</span></span></span><!--?lit$094480238$--></td></tr><!----><!----><tr class="line"><td class="line-number"></td><td class="line-marker"></td><td class="code flex"><span><!--?lit$094480238$-->            <span class="mutant border-none CompileError" title="Block removal mutation CompileError" mutant-id="525"><span class="token punctuation"><span class="mutant border-none CompileError" title="Arithmetic mutation CompileError" mutant-id="526">(</span></span><span class="mutant border-none CompileError" title="Arithmetic mutation CompileError" mutant-id="526"><span class="token keyword"><span class="mutant border-none Killed" title="Arithmetic mutation Killed" mutant-id="527">this</span></span><span class="mutant border-none Killed" title="Arithmetic mutation Killed" mutant-id="527"><span class="token punctuation">.</span>BaseLine<span class="token punctuation">.</span>EndPoint<span class="token punctuation">.</span>XCoordinate <span class="token operator">-</span> <span class="token keyword">this</span><span class="token punctuation">.</span>BaseLine<span class="token punctuation">.</span>StartPoint<span class="token punctuation">.</span>XCoordinate<span class="token punctuation"></span></span><span class="token punctuation">)</span></span></span></span><!--?lit$094480238$--><span class="ml-1 flex flex-row items-center"><!--?lit$094480238$--><!----><svg height="10" width="12" mutant-id="527" class="mutant-dot Killed">
<title><!---->Arithmetic mutation Killed<!----></title>
<circle cx="5" cy="5" r="5"></circle>
          </svg><!----><!--?lit$094480238$--></span></td></tr><tbody></tbody><!----><!----><tr class="line"><td class="line-number"></td><td class="line-marker"></td><td class="code flex"><span><!--?lit$094480238$-->            <span class="mutant border-none CompileError" title="Block removal mutation CompileError" mutant-id="525"><span class="mutant border-none CompileError" title="Arithmetic mutation CompileError" mutant-id="526"><span class="token operator">/</span> <span class="token keyword">this</span><span class="token punctuation">.</span>Length<span class="token punctuation"></span></span><span class="token punctuation">;</span></span></span><!--?lit$094480238$--></td></tr><!----><!----><tr class="line"><td class="line-number"></td><td class="line-marker"></td><td class="code flex"><span><!--?lit$094480238$-->        <span class="mutant border-none CompileError" title="Block removal mutation CompileError" mutant-id="525"><span class="token class-name"><span class="token keyword">var</span></span> rxy <span class="token operator">=</span></span></span><!--?lit$094480238$--></td></tr><!----><!----><tr class="line"><td class="line-number"></td><td class="line-marker"></td><td class="code flex"><span><!--?lit$094480238$-->            <span class="mutant border-none CompileError" title="Block removal mutation CompileError" mutant-id="525"><span class="token punctuation"><span class="mutant border-none CompileError" title="Arithmetic mutation CompileError" mutant-id="528">(</span></span><span class="mutant border-none CompileError" title="Arithmetic mutation CompileError" mutant-id="528"><span class="token keyword"><span class="mutant border-none Killed" title="Arithmetic mutation Killed" mutant-id="529">this</span></span><span class="mutant border-none Killed" title="Arithmetic mutation Killed" mutant-id="529"><span class="token punctuation">.</span>BaseLine<span class="token punctuation">.</span>EndPoint<span class="token punctuation">.</span>YCoordinate <span class="token operator">-</span> <span class="token keyword">this</span><span class="token punctuation">.</span>BaseLine<span class="token punctuation">.</span>StartPoint<span class="token punctuation">.</span>YCoordinate<span class="token punctuation"></span></span><span class="token punctuation">)</span></span></span></span><!--?lit$094480238$--><span class="ml-1 flex flex-row items-center"><!--?lit$094480238$--><!----><svg height="10" width="12" mutant-id="529" class="mutant-dot Killed">
<title><!---->Arithmetic mutation Killed<!----></title>
<circle cx="5" cy="5" r="5"></circle>
          </svg><!----><!--?lit$094480238$--></span></td></tr><!----><!----><tr class="line"><td class="line-number"></td><td class="line-marker"></td><td class="code flex"><span><!--?lit$094480238$-->            <span class="mutant border-none CompileError" title="Block removal mutation CompileError" mutant-id="525"><span class="mutant border-none CompileError" title="Arithmetic mutation CompileError" mutant-id="528"><span class="token operator">/</span> <span class="token keyword">this</span><span class="token punctuation">.</span>Length<span class="token punctuation"></span></span><span class="token punctuation">;</span></span></span><!--?lit$094480238$--></td></tr><!----><!----><tr class="line"><td class="line-number"></td><td class="line-marker"></td><td class="code flex"><span><!--?lit$094480238$-->        <span class="mutant border-none CompileError" title="Block removal mutation CompileError" mutant-id="525"><span class="token class-name"><span class="token keyword">var</span></span> rxz <span class="token operator">=</span></span></span><!--?lit$094480238$--></td></tr><!----><!----><tr class="line"><td class="line-number"></td><td class="line-marker"></td><td class="code flex"><span><!--?lit$094480238$-->            <span class="mutant border-none CompileError" title="Block removal mutation CompileError" mutant-id="525"><span class="token punctuation"><span class="mutant border-none CompileError" title="Arithmetic mutation CompileError" mutant-id="530">(</span></span><span class="mutant border-none CompileError" title="Arithmetic mutation CompileError" mutant-id="530"><span class="token keyword"><span class="mutant border-none Killed" title="Arithmetic mutation Killed" mutant-id="531">this</span></span><span class="mutant border-none Killed" title="Arithmetic mutation Killed" mutant-id="531"><span class="token punctuation">.</span>BaseLine<span class="token punctuation">.</span>EndPoint<span class="token punctuation">.</span>ZCoordinate <span class="token operator">-</span> <span class="token keyword">this</span><span class="token punctuation">.</span>BaseLine<span class="token punctuation">.</span>StartPoint<span class="token punctuation">.</span>ZCoordinate<span class="token punctuation"></span></span><span class="token punctuation">)</span></span></span></span><!--?lit$094480238$--><span class="ml-1 flex flex-row items-center"><!--?lit$094480238$--><!----><svg height="10" width="12" mutant-id="531" class="mutant-dot Killed">
<title><!---->Arithmetic mutation Killed<!----></title>
<circle cx="5" cy="5" r="5"></circle>
          </svg><!----><!--?lit$094480238$--></span></td></tr><!----><!----><tr class="line"><td class="line-number"></td><td class="line-marker"></td><td class="code flex"><span><!--?lit$094480238$-->            <span class="mutant border-none CompileError" title="Block removal mutation CompileError" mutant-id="525"><span class="mutant border-none CompileError" title="Arithmetic mutation CompileError" mutant-id="530"><span class="token operator">/</span> <span class="token keyword">this</span><span class="token punctuation">.</span>Length<span class="token punctuation"></span></span><span class="token punctuation">;</span></span></span><!--?lit$094480238$--></td></tr><!----><!----><tr class="line"><td class="line-number"></td><td class="line-marker"></td><td class="code flex"><span><!--?lit$094480238$--><span class="mutant border-none CompileError" title="Block removal mutation CompileError" mutant-id="525"></span></span><!--?lit$094480238$--></td></tr><!----><!----><tr class="line"><td class="line-number"></td><td class="line-marker"></td><td class="code flex"><span><!--?lit$094480238$-->        <span class="mutant border-none CompileError" title="Block removal mutation CompileError" mutant-id="525"><span class="token class-name"><span class="token keyword">var</span></span> cosG <span class="token operator">=</span> Math<span class="token punctuation">.</span><span class="token function">Cos</span><span class="token punctuation">(</span><span class="token keyword">this</span><span class="token punctuation">.</span>SectionProfileRotation<span class="token punctuation">.</span>Radians<span class="token punctuation">)</span><span class="token punctuation">;</span></span></span><!--?lit$094480238$--></td></tr><!----><!----><tr class="line"><td class="line-number"></td><td class="line-marker"></td><td class="code flex"><span><!--?lit$094480238$-->        <span class="mutant border-none CompileError" title="Block removal mutation CompileError" mutant-id="525"><span class="token class-name"><span class="token keyword">var</span></span> sinG <span class="token operator">=</span> Math<span class="token punctuation">.</span><span class="token function">Sin</span><span class="token punctuation">(</span><span class="token keyword">this</span><span class="token punctuation">.</span>SectionProfileRotation<span class="token punctuation">.</span>Radians<span class="token punctuation">)</span><span class="token punctuation">;</span></span></span><!--?lit$094480238$--></td></tr><!----><!----><tr class="line"><td class="line-number"></td><td class="line-marker"></td><td class="code flex"><span><!--?lit$094480238$--><span class="mutant border-none CompileError" title="Block removal mutation CompileError" mutant-id="525"></span></span><!--?lit$094480238$--></td></tr><!----><!----><tr class="line"><td class="line-number"></td><td class="line-marker"></td><td class="code flex"><span><!--?lit$094480238$-->        <span class="mutant border-none CompileError" title="Block removal mutation CompileError" mutant-id="525"><span class="token class-name"><span class="token keyword">var</span></span> sqrtRxx2Rxz2 <span class="token operator">=</span> Math<span class="token punctuation">.</span><span class="token function">Sqrt</span><span class="token punctuation">(</span><span class="token punctuation"><span class="mutant border-none Survived" title="Arithmetic mutation Survived" mutant-id="532">(</span></span><span class="mutant border-none Survived" title="Arithmetic mutation Survived" mutant-id="532"><span class="mutant border-none Killed" title="Arithmetic mutation Killed" mutant-id="533">rxx <span class="token operator">*</span> rxx<span class="token punctuation"></span></span><span class="token punctuation">)</span> <span class="token operator">+</span> <span class="token punctuation">(</span><span class="mutant border-none Killed" title="Arithmetic mutation Killed" mutant-id="534">rxz <span class="token operator">*</span> rxz<span class="token punctuation"></span></span><span class="token punctuation">)</span><span class="token punctuation"></span></span><span class="token punctuation">)</span><span class="token punctuation">;</span></span></span><!--?lit$094480238$--><span class="ml-1 flex flex-row items-center"><!--?lit$094480238$--><!----><svg height="10" width="12" mutant-id="532" class="mutant-dot Survived">
<title><!---->Arithmetic mutation Survived<!----></title>
<circle cx="5" cy="5" r="5"></circle>
          </svg><!----><!----><svg height="10" width="12" mutant-id="533" class="mutant-dot Killed">
<title><!---->Arithmetic mutation Killed<!----></title>
<circle cx="5" cy="5" r="5"></circle>
          </svg><!----><!----><svg height="10" width="12" mutant-id="534" class="mutant-dot Killed">
<title><!---->Arithmetic mutation Killed<!----></title>
<circle cx="5" cy="5" r="5"></circle>
          </svg><!----><!--?lit$094480238$--></span></td></tr><!----><!----><tr class="line"><td class="line-number"></td><td class="line-marker"></td><td class="code flex"><span><!--?lit$094480238$--><span class="mutant border-none CompileError" title="Block removal mutation CompileError" mutant-id="525"></span></span><!--?lit$094480238$--></td></tr><!----><!----><tr class="line"><td class="line-number"></td><td class="line-marker"></td><td class="code flex"><span><!--?lit$094480238$-->        <span class="mutant border-none CompileError" title="Block removal mutation CompileError" mutant-id="525"><span class="token class-name"><span class="token keyword">double</span></span> r21<span class="token punctuation">,</span></span></span><!--?lit$094480238$--></td></tr><!----><!----><tr class="line"><td class="line-number"></td><td class="line-marker"></td><td class="code flex"><span><!--?lit$094480238$-->            <span class="mutant border-none CompileError" title="Block removal mutation CompileError" mutant-id="525">r22<span class="token punctuation">,</span></span></span><!--?lit$094480238$--></td></tr><!----><!----><tr class="line"><td class="line-number"></td><td class="line-marker"></td><td class="code flex"><span><!--?lit$094480238$-->            <span class="mutant border-none CompileError" title="Block removal mutation CompileError" mutant-id="525">r23<span class="token punctuation">,</span></span></span><!--?lit$094480238$--></td></tr><!----><!----><tr class="line"><td class="line-number"></td><td class="line-marker"></td><td class="code flex"><span><!--?lit$094480238$-->            <span class="mutant border-none CompileError" title="Block removal mutation CompileError" mutant-id="525">r31<span class="token punctuation">,</span></span></span><!--?lit$094480238$--></td></tr><!----><!----><tr class="line"><td class="line-number"></td><td class="line-marker"></td><td class="code flex"><span><!--?lit$094480238$-->            <span class="mutant border-none CompileError" title="Block removal mutation CompileError" mutant-id="525">r32<span class="token punctuation">,</span></span></span><!--?lit$094480238$--></td></tr><!----><!----><tr class="line"><td class="line-number"></td><td class="line-marker"></td><td class="code flex"><span><!--?lit$094480238$-->            <span class="mutant border-none CompileError" title="Block removal mutation CompileError" mutant-id="525">r33<span class="token punctuation">;</span></span></span><!--?lit$094480238$--></td></tr><!----><!----><tr class="line"><td class="line-number"></td><td class="line-marker"></td><td class="code flex"><span><!--?lit$094480238$--><span class="mutant border-none CompileError" title="Block removal mutation CompileError" mutant-id="525"></span></span><!--?lit$094480238$--></td></tr><!----><!----><tr class="line"><td class="line-number"></td><td class="line-marker"></td><td class="code flex"><span><!--?lit$094480238$-->        <span class="mutant border-none CompileError" title="Block removal mutation CompileError" mutant-id="525"><span class="token keyword">if</span> <span class="token punctuation">(</span><span class="mutant border-none Killed" title="Equality mutation Killed" mutant-id="535"><span class="mutant border-none Survived" title="Equality mutation Survived" mutant-id="536"><span class="mutant border-none Killed" title="Negate expression Killed" mutant-id="537">sqrtRxx2Rxz2 <span class="token operator">&lt;</span> <span class="token number">.0001</span><span class="token punctuation"></span></span></span></span><span class="mutant border-none Survived" title="Equality mutation Survived" mutant-id="536"><span class="mutant border-none Killed" title="Negate expression Killed" mutant-id="537"><span class="token punctuation"></span></span></span><span class="mutant border-none Killed" title="Negate expression Killed" mutant-id="537"><span class="token punctuation"></span></span><span class="token punctuation">)</span></span></span><!--?lit$094480238$--><span class="ml-1 flex flex-row items-center"><!--?lit$094480238$--><!----><svg height="10" width="12" mutant-id="535" class="mutant-dot Killed">
<title><!---->Equality mutation Killed<!----></title>
<circle cx="5" cy="5" r="5"></circle>
          </svg><!----><!----><svg height="10" width="12" mutant-id="536" class="mutant-dot Survived">
<title><!---->Equality mutation Survived<!----></title>
<circle cx="5" cy="5" r="5"></circle>
          </svg><!----><!----><svg height="10" width="12" mutant-id="537" class="mutant-dot Killed">
<title><!---->Negate expression Killed<!----></title>
<circle cx="5" cy="5" r="5"></circle>
          </svg><!----><!--?lit$094480238$--></span></td></tr><tbody></tbody><!----><!----><tr class="line"><td class="line-number"></td><td class="line-marker"></td><td class="code flex"><span><!--?lit$094480238$-->        <span class="mutant border-none CompileError" title="Block removal mutation CompileError" mutant-id="525"><span class="token punctuation"><span class="mutant border-none CompileError" title="Block removal mutation CompileError" mutant-id="538">{</span></span><span class="mutant border-none CompileError" title="Block removal mutation CompileError" mutant-id="538"></span></span></span><!--?lit$094480238$--></td></tr><!----><!----><tr class="line diff-old"><td class="line-number"></td><td class="line-marker"></td><td class="code flex"><span><!--?lit$094480238$-->            <span class="mutant border-none CompileError" title="Block removal mutation CompileError" mutant-id="525"><span class="mutant border-none CompileError" title="Block removal mutation CompileError" mutant-id="538">r21 <span class="token operator">=</span> <span class="token operator"><span class="mutant border-none Survived" title="Arithmetic mutation Survived" mutant-id="539"><span class="mutant border-none Killed" title="UnaryMinusExpression to UnaryPlusExpression mutation Killed" mutant-id="540">-</span></span></span><span class="mutant border-none Survived" title="Arithmetic mutation Survived" mutant-id="539"><span class="mutant border-none Killed" title="UnaryMinusExpression to UnaryPlusExpression mutation Killed" mutant-id="540">rxy</span> <span class="token operator">*</span> cosG<span class="token punctuation"></span></span><span class="token punctuation">;</span></span></span></span><!--?lit$094480238$--><span class="ml-1 flex flex-row items-center"><!--?lit$094480238$--><!----><svg height="10" width="12" mutant-id="539" class="mutant-dot selected">
<title><!---->Arithmetic mutation Survived<!----></title>
<circle cx="5" cy="5" r="5"></circle>
          </svg><!----><!----><svg height="10" width="12" mutant-id="540" class="mutant-dot Killed">
<title><!---->UnaryMinusExpression to UnaryPlusExpression mutation Killed<!----></title>
<circle cx="5" cy="5" r="5"></circle>
          </svg><!----><!--?lit$094480238$--></span></td></tr><tbody><tr class="diff-new"><td class="empty-line-number"></td><td class="line-marker"></td><td class="code">            r21 <span class="token operator">=</span> <span class="token operator">-</span>rxy <span class="token operator"><span class="diff-focus">/</span></span><span class="diff-focus"></span> cosG<span class="token punctuation">;</span></td></tr></tbody><tbody></tbody><tbody></tbody><tbody></tbody><!----><!----><tr class="line"><td class="line-number"></td><td class="line-marker"></td><td class="code flex"><span><!--?lit$094480238$-->            <span class="mutant border-none CompileError" title="Block removal mutation CompileError" mutant-id="525"><span class="mutant border-none CompileError" title="Block removal mutation CompileError" mutant-id="538">r22 <span class="token operator">=</span> <span class="token number">0</span><span class="token punctuation">;</span></span></span></span><!--?lit$094480238$--></td></tr><!----><!----><tr class="line"><td class="line-number"></td><td class="line-marker"></td><td class="code flex"><span><!--?lit$094480238$-->            <span class="mutant border-none CompileError" title="Block removal mutation CompileError" mutant-id="525"><span class="mutant border-none CompileError" title="Block removal mutation CompileError" mutant-id="538">r23 <span class="token operator">=</span> sinG<span class="token punctuation">;</span></span></span></span><!--?lit$094480238$--></td></tr><!----><!----><tr class="line"><td class="line-number"></td><td class="line-marker"></td><td class="code flex"><span><!--?lit$094480238$-->            <span class="mutant border-none CompileError" title="Block removal mutation CompileError" mutant-id="525"><span class="mutant border-none CompileError" title="Block removal mutation CompileError" mutant-id="538">r31 <span class="token operator">=</span> <span class="mutant border-none Killed" title="Arithmetic mutation Killed" mutant-id="541">rxy <span class="token operator">*</span> sinG<span class="token punctuation"></span></span><span class="token punctuation">;</span></span></span></span><!--?lit$094480238$--><span class="ml-1 flex flex-row items-center"><!--?lit$094480238$--><!----><svg height="10" width="12" mutant-id="541" class="mutant-dot Killed">
<title><!---->Arithmetic mutation Killed<!----></title>
<circle cx="5" cy="5" r="5"></circle>
          </svg><!----><!--?lit$094480238$--></span></td></tr><!----><!----><tr class="line"><td class="line-number"></td><td class="line-marker"></td><td class="code flex"><span><!--?lit$094480238$-->            <span class="mutant border-none CompileError" title="Block removal mutation CompileError" mutant-id="525"><span class="mutant border-none CompileError" title="Block removal mutation CompileError" mutant-id="538">r32 <span class="token operator">=</span> <span class="token number">0</span><span class="token punctuation">;</span></span></span></span><!--?lit$094480238$--></td></tr><!----><!----><tr class="line"><td class="line-number"></td><td class="line-marker"></td><td class="code flex"><span><!--?lit$094480238$-->            <span class="mutant border-none CompileError" title="Block removal mutation CompileError" mutant-id="525"><span class="mutant border-none CompileError" title="Block removal mutation CompileError" mutant-id="538">r33 <span class="token operator">=</span> cosG<span class="token punctuation">;</span></span></span></span><!--?lit$094480238$--></td></tr><!----><!----><tr class="line"><td class="line-number"></td><td class="line-marker"></td><td class="code flex"><span><!--?lit$094480238$-->        <span class="mutant border-none CompileError" title="Block removal mutation CompileError" mutant-id="525"><span class="mutant border-none CompileError" title="Block removal mutation CompileError" mutant-id="538"><span class="token punctuation">}</span></span></span></span><!--?lit$094480238$--></td></tr><!----><!----><tr class="line"><td class="line-number"></td><td class="line-marker"></td><td class="code flex"><span><!--?lit$094480238$-->        <span class="mutant border-none CompileError" title="Block removal mutation CompileError" mutant-id="525"><span class="token keyword">else</span></span></span><!--?lit$094480238$--></td></tr><!----><!----><tr class="line"><td class="line-number"></td><td class="line-marker"></td><td class="code flex"><span><!--?lit$094480238$-->        <span class="mutant border-none CompileError" title="Block removal mutation CompileError" mutant-id="525"><span class="token punctuation"><span class="mutant border-none CompileError" title="Block removal mutation CompileError" mutant-id="542">{</span></span><span class="mutant border-none CompileError" title="Block removal mutation CompileError" mutant-id="542"></span></span></span><!--?lit$094480238$--></td></tr><!----><!----><tr class="line"><td class="line-number"></td><td class="line-marker"></td><td class="code flex"><span><!--?lit$094480238$-->            <span class="mutant border-none CompileError" title="Block removal mutation CompileError" mutant-id="525"><span class="mutant border-none CompileError" title="Block removal mutation CompileError" mutant-id="542">r21 <span class="token operator">=</span> <span class="token punctuation"><span class="mutant border-none NoCoverage" title="Arithmetic mutation NoCoverage" mutant-id="543">(</span></span><span class="mutant border-none NoCoverage" title="Arithmetic mutation NoCoverage" mutant-id="543"><span class="token punctuation"><span class="mutant border-none NoCoverage" title="Arithmetic mutation NoCoverage" mutant-id="544">(</span></span><span class="mutant border-none NoCoverage" title="Arithmetic mutation NoCoverage" mutant-id="544"><span class="token operator"><span class="mutant border-none NoCoverage" title="Arithmetic mutation NoCoverage" mutant-id="545"><span class="mutant border-none NoCoverage" title="Arithmetic mutation NoCoverage" mutant-id="546"><span class="mutant border-none NoCoverage" title="UnaryMinusExpression to UnaryPlusExpression mutation NoCoverage" mutant-id="547">-</span></span></span></span><span class="mutant border-none NoCoverage" title="Arithmetic mutation NoCoverage" mutant-id="545"><span class="mutant border-none NoCoverage" title="Arithmetic mutation NoCoverage" mutant-id="546"><span class="mutant border-none NoCoverage" title="UnaryMinusExpression to UnaryPlusExpression mutation NoCoverage" mutant-id="547">rxx</span> <span class="token operator">*</span> rxy</span> <span class="token operator">*</span> cosG<span class="token punctuation"></span></span><span class="token punctuation">)</span> <span class="token operator">-</span> <span class="token punctuation">(</span><span class="mutant border-none NoCoverage" title="Arithmetic mutation NoCoverage" mutant-id="548">rxz <span class="token operator">*</span> sinG<span class="token punctuation"></span></span><span class="token punctuation">)</span><span class="token punctuation"></span></span><span class="token punctuation">)</span> <span class="token operator">/</span> sqrtRxx2Rxz2<span class="token punctuation"></span></span><span class="token punctuation">;</span></span></span></span><!--?lit$094480238$--><span class="ml-1 flex flex-row items-center"><!--?lit$094480238$--><!----><svg height="10" width="12" mutant-id="543" class="mutant-dot NoCoverage">
<title><!---->Arithmetic mutation NoCoverage<!----></title>
<circle cx="5" cy="5" r="5"></circle>
          </svg><!----><!----><svg height="10" width="12" mutant-id="544" class="mutant-dot NoCoverage">
<title><!---->Arithmetic mutation NoCoverage<!----></title>
<circle cx="5" cy="5" r="5"></circle>
          </svg><!----><!----><svg height="10" width="12" mutant-id="545" class="mutant-dot NoCoverage">
<title><!---->Arithmetic mutation NoCoverage<!----></title>
<circle cx="5" cy="5" r="5"></circle>
          </svg><!----><!----><svg height="10" width="12" mutant-id="546" class="mutant-dot NoCoverage">
<title><!---->Arithmetic mutation NoCoverage<!----></title>
<circle cx="5" cy="5" r="5"></circle>
          </svg><!----><!----><svg height="10" width="12" mutant-id="547" class="mutant-dot NoCoverage">
<title><!---->UnaryMinusExpression to UnaryPlusExpression mutation NoCoverage<!----></title>
<circle cx="5" cy="5" r="5"></circle>
          </svg><!----><!----><svg height="10" width="12" mutant-id="548" class="mutant-dot NoCoverage">
<title><!---->Arithmetic mutation NoCoverage<!----></title>
<circle cx="5" cy="5" r="5"></circle>
          </svg><!----><!--?lit$094480238$--></span></td></tr><!----><!----><tr class="line"><td class="line-number"></td><td class="line-marker"></td><td class="code flex"><span><!--?lit$094480238$-->            <span class="mutant border-none CompileError" title="Block removal mutation CompileError" mutant-id="525"><span class="mutant border-none CompileError" title="Block removal mutation CompileError" mutant-id="542">r22 <span class="token operator">=</span> <span class="mutant border-none NoCoverage" title="Arithmetic mutation NoCoverage" mutant-id="549">sqrtRxx2Rxz2 <span class="token operator">*</span> cosG<span class="token punctuation"></span></span><span class="token punctuation">;</span></span></span></span><!--?lit$094480238$--><span class="ml-1 flex flex-row items-center"><!--?lit$094480238$--><!----><svg height="10" width="12" mutant-id="549" class="mutant-dot NoCoverage">
<title><!---->Arithmetic mutation NoCoverage<!----></title>
<circle cx="5" cy="5" r="5"></circle>
          </svg><!----><!--?lit$094480238$--></span></td></tr><!----><!----><tr class="line"><td class="line-number"></td><td class="line-marker"></td><td class="code flex"><span><!--?lit$094480238$-->            <span class="mutant border-none CompileError" title="Block removal mutation CompileError" mutant-id="525"><span class="mutant border-none CompileError" title="Block removal mutation CompileError" mutant-id="542">r23 <span class="token operator">=</span> <span class="token punctuation"><span class="mutant border-none NoCoverage" title="Arithmetic mutation NoCoverage" mutant-id="550">(</span></span><span class="mutant border-none NoCoverage" title="Arithmetic mutation NoCoverage" mutant-id="550"><span class="token punctuation"><span class="mutant border-none NoCoverage" title="Arithmetic mutation NoCoverage" mutant-id="551">(</span></span><span class="mutant border-none NoCoverage" title="Arithmetic mutation NoCoverage" mutant-id="551"><span class="token operator"><span class="mutant border-none NoCoverage" title="Arithmetic mutation NoCoverage" mutant-id="552"><span class="mutant border-none NoCoverage" title="Arithmetic mutation NoCoverage" mutant-id="553"><span class="mutant border-none NoCoverage" title="UnaryMinusExpression to UnaryPlusExpression mutation NoCoverage" mutant-id="554">-</span></span></span></span><span class="mutant border-none NoCoverage" title="Arithmetic mutation NoCoverage" mutant-id="552"><span class="mutant border-none NoCoverage" title="Arithmetic mutation NoCoverage" mutant-id="553"><span class="mutant border-none NoCoverage" title="UnaryMinusExpression to UnaryPlusExpression mutation NoCoverage" mutant-id="554">rxy</span> <span class="token operator">*</span> rxz</span> <span class="token operator">*</span> cosG<span class="token punctuation"></span></span><span class="token punctuation">)</span> <span class="token operator">+</span> <span class="token punctuation">(</span><span class="mutant border-none NoCoverage" title="Arithmetic mutation NoCoverage" mutant-id="555">rxx <span class="token operator">*</span> sinG<span class="token punctuation"></span></span><span class="token punctuation">)</span><span class="token punctuation"></span></span><span class="token punctuation">)</span> <span class="token operator">/</span> sqrtRxx2Rxz2<span class="token punctuation"></span></span><span class="token punctuation">;</span></span></span></span><!--?lit$094480238$--><span class="ml-1 flex flex-row items-center"><!--?lit$094480238$--><!----><svg height="10" width="12" mutant-id="550" class="mutant-dot NoCoverage">
<title><!---->Arithmetic mutation NoCoverage<!----></title>
<circle cx="5" cy="5" r="5"></circle>
          </svg><!----><!----><svg height="10" width="12" mutant-id="551" class="mutant-dot NoCoverage">
<title><!---->Arithmetic mutation NoCoverage<!----></title>
<circle cx="5" cy="5" r="5"></circle>
          </svg><!----><!----><svg height="10" width="12" mutant-id="552" class="mutant-dot NoCoverage">
<title><!---->Arithmetic mutation NoCoverage<!----></title>
<circle cx="5" cy="5" r="5"></circle>
          </svg><!----><!----><svg height="10" width="12" mutant-id="553" class="mutant-dot NoCoverage">
<title><!---->Arithmetic mutation NoCoverage<!----></title>
<circle cx="5" cy="5" r="5"></circle>
          </svg><!----><!----><svg height="10" width="12" mutant-id="554" class="mutant-dot NoCoverage">
<title><!---->UnaryMinusExpression to UnaryPlusExpression mutation NoCoverage<!----></title>
<circle cx="5" cy="5" r="5"></circle>
          </svg><!----><!----><svg height="10" width="12" mutant-id="555" class="mutant-dot NoCoverage">
<title><!---->Arithmetic mutation NoCoverage<!----></title>
<circle cx="5" cy="5" r="5"></circle>
          </svg><!----><!--?lit$094480238$--></span></td></tr><!----><!----><tr class="line"><td class="line-number"></td><td class="line-marker"></td><td class="code flex"><span><!--?lit$094480238$-->            <span class="mutant border-none CompileError" title="Block removal mutation CompileError" mutant-id="525"><span class="mutant border-none CompileError" title="Block removal mutation CompileError" mutant-id="542">r31 <span class="token operator">=</span> <span class="token punctuation"><span class="mutant border-none NoCoverage" title="Arithmetic mutation NoCoverage" mutant-id="556">(</span></span><span class="mutant border-none NoCoverage" title="Arithmetic mutation NoCoverage" mutant-id="556"><span class="token punctuation"><span class="mutant border-none NoCoverage" title="Arithmetic mutation NoCoverage" mutant-id="557">(</span></span><span class="mutant border-none NoCoverage" title="Arithmetic mutation NoCoverage" mutant-id="557"><span class="mutant border-none NoCoverage" title="Arithmetic mutation NoCoverage" mutant-id="558"><span class="mutant border-none NoCoverage" title="Arithmetic mutation NoCoverage" mutant-id="559">rxx <span class="token operator">*</span> rxy</span> <span class="token operator">*</span> sinG<span class="token punctuation"></span></span><span class="token punctuation">)</span> <span class="token operator">-</span> <span class="token punctuation">(</span><span class="mutant border-none NoCoverage" title="Arithmetic mutation NoCoverage" mutant-id="560">rxz <span class="token operator">*</span> cosG<span class="token punctuation"></span></span><span class="token punctuation">)</span><span class="token punctuation"></span></span><span class="token punctuation">)</span> <span class="token operator">/</span> sqrtRxx2Rxz2<span class="token punctuation"></span></span><span class="token punctuation">;</span></span></span></span><!--?lit$094480238$--><span class="ml-1 flex flex-row items-center"><!--?lit$094480238$--><!----><svg height="10" width="12" mutant-id="556" class="mutant-dot NoCoverage">
<title><!---->Arithmetic mutation NoCoverage<!----></title>
<circle cx="5" cy="5" r="5"></circle>
          </svg><!----><!----><svg height="10" width="12" mutant-id="557" class="mutant-dot NoCoverage">
<title><!---->Arithmetic mutation NoCoverage<!----></title>
<circle cx="5" cy="5" r="5"></circle>
          </svg><!----><!----><svg height="10" width="12" mutant-id="558" class="mutant-dot NoCoverage">
<title><!---->Arithmetic mutation NoCoverage<!----></title>
<circle cx="5" cy="5" r="5"></circle>
          </svg><!----><!----><svg height="10" width="12" mutant-id="559" class="mutant-dot NoCoverage">
<title><!---->Arithmetic mutation NoCoverage<!----></title>
<circle cx="5" cy="5" r="5"></circle>
          </svg><!----><!----><svg height="10" width="12" mutant-id="560" class="mutant-dot NoCoverage">
<title><!---->Arithmetic mutation NoCoverage<!----></title>
<circle cx="5" cy="5" r="5"></circle>
          </svg><!----><!--?lit$094480238$--></span></td></tr><!----><!----><tr class="line"><td class="line-number"></td><td class="line-marker"></td><td class="code flex"><span><!--?lit$094480238$-->            <span class="mutant border-none CompileError" title="Block removal mutation CompileError" mutant-id="525"><span class="mutant border-none CompileError" title="Block removal mutation CompileError" mutant-id="542">r32 <span class="token operator">=</span> <span class="token operator"><span class="mutant border-none NoCoverage" title="Arithmetic mutation NoCoverage" mutant-id="561"><span class="mutant border-none NoCoverage" title="UnaryMinusExpression to UnaryPlusExpression mutation NoCoverage" mutant-id="562">-</span></span></span><span class="mutant border-none NoCoverage" title="Arithmetic mutation NoCoverage" mutant-id="561"><span class="mutant border-none NoCoverage" title="UnaryMinusExpression to UnaryPlusExpression mutation NoCoverage" mutant-id="562">sqrtRxx2Rxz2</span> <span class="token operator">*</span> sinG<span class="token punctuation"></span></span><span class="token punctuation">;</span></span></span></span><!--?lit$094480238$--><span class="ml-1 flex flex-row items-center"><!--?lit$094480238$--><!----><svg height="10" width="12" mutant-id="561" class="mutant-dot NoCoverage">
<title><!---->Arithmetic mutation NoCoverage<!----></title>
<circle cx="5" cy="5" r="5"></circle>
          </svg><!----><!----><svg height="10" width="12" mutant-id="562" class="mutant-dot NoCoverage">
<title><!---->UnaryMinusExpression to UnaryPlusExpression mutation NoCoverage<!----></title>
<circle cx="5" cy="5" r="5"></circle>
          </svg><!----><!--?lit$094480238$--></span></td></tr><!----><!----><tr class="line"><td class="line-number"></td><td class="line-marker"></td><td class="code flex"><span><!--?lit$094480238$-->            <span class="mutant border-none CompileError" title="Block removal mutation CompileError" mutant-id="525"><span class="mutant border-none CompileError" title="Block removal mutation CompileError" mutant-id="542">r33 <span class="token operator">=</span> <span class="token punctuation"><span class="mutant border-none NoCoverage" title="Arithmetic mutation NoCoverage" mutant-id="563">(</span></span><span class="mutant border-none NoCoverage" title="Arithmetic mutation NoCoverage" mutant-id="563"><span class="token punctuation"><span class="mutant border-none NoCoverage" title="Arithmetic mutation NoCoverage" mutant-id="564">(</span></span><span class="mutant border-none NoCoverage" title="Arithmetic mutation NoCoverage" mutant-id="564"><span class="mutant border-none NoCoverage" title="Arithmetic mutation NoCoverage" mutant-id="565"><span class="mutant border-none NoCoverage" title="Arithmetic mutation NoCoverage" mutant-id="566">rxy <span class="token operator">*</span> rxz</span> <span class="token operator">*</span> sinG<span class="token punctuation"></span></span><span class="token punctuation">)</span> <span class="token operator">+</span> <span class="token punctuation">(</span><span class="mutant border-none NoCoverage" title="Arithmetic mutation NoCoverage" mutant-id="567">rxx <span class="token operator">*</span> cosG<span class="token punctuation"></span></span><span class="token punctuation">)</span><span class="token punctuation"></span></span><span class="token punctuation">)</span> <span class="token operator">/</span> sqrtRxx2Rxz2<span class="token punctuation"></span></span><span class="token punctuation">;</span></span></span></span><!--?lit$094480238$--><span class="ml-1 flex flex-row items-center"><!--?lit$094480238$--><!----><svg height="10" width="12" mutant-id="563" class="mutant-dot NoCoverage">
<title><!---->Arithmetic mutation NoCoverage<!----></title>
<circle cx="5" cy="5" r="5"></circle>
          </svg><!----><!----><svg height="10" width="12" mutant-id="564" class="mutant-dot NoCoverage">
<title><!---->Arithmetic mutation NoCoverage<!----></title>
<circle cx="5" cy="5" r="5"></circle>
          </svg><!----><!----><svg height="10" width="12" mutant-id="565" class="mutant-dot NoCoverage">
<title><!---->Arithmetic mutation NoCoverage<!----></title>
<circle cx="5" cy="5" r="5"></circle>
          </svg><!----><!----><svg height="10" width="12" mutant-id="566" class="mutant-dot NoCoverage">
<title><!---->Arithmetic mutation NoCoverage<!----></title>
<circle cx="5" cy="5" r="5"></circle>
          </svg><!----><!----><svg height="10" width="12" mutant-id="567" class="mutant-dot NoCoverage">
<title><!---->Arithmetic mutation NoCoverage<!----></title>
<circle cx="5" cy="5" r="5"></circle>
          </svg><!----><!--?lit$094480238$--></span></td></tr><!----><!----><tr class="line"><td class="line-number"></td><td class="line-marker"></td><td class="code flex"><span><!--?lit$094480238$-->        <span class="mutant border-none CompileError" title="Block removal mutation CompileError" mutant-id="525"><span class="mutant border-none CompileError" title="Block removal mutation CompileError" mutant-id="542"><span class="token punctuation">}</span></span></span></span><!--?lit$094480238$--></td></tr><!----><!----><tr class="line"><td class="line-number"></td><td class="line-marker"></td><td class="code flex"><span><!--?lit$094480238$--><span class="mutant border-none CompileError" title="Block removal mutation CompileError" mutant-id="525"><span class="mutant border-none CompileError" title="Block removal mutation CompileError" mutant-id="542"></span></span></span><!--?lit$094480238$--></td></tr><!----><!----><tr class="line"><td class="line-number"></td><td class="line-marker"></td><td class="code flex"><span><!--?lit$094480238$-->        <span class="mutant border-none CompileError" title="Block removal mutation CompileError" mutant-id="525"><span class="token keyword">return</span> DenseMatrix<span class="token punctuation">.</span><span class="token function">OfArray</span><span class="token punctuation">(</span></span></span><!--?lit$094480238$--></td></tr><!----><!----><tr class="line"><td class="line-number"></td><td class="line-marker"></td><td class="code flex"><span><!--?lit$094480238$-->            <span class="mutant border-none CompileError" title="Block removal mutation CompileError" mutant-id="525"><span class="token keyword">new</span><span class="token punctuation">[</span><span class="token punctuation">,</span><span class="token punctuation">]</span></span></span><!--?lit$094480238$--></td></tr><!----><!----><tr class="line"><td class="line-number"></td><td class="line-marker"></td><td class="code flex"><span><!--?lit$094480238$-->            <span class="mutant border-none CompileError" title="Block removal mutation CompileError" mutant-id="525"><span class="token punctuation">{</span></span></span><!--?lit$094480238$--></td></tr><!----><!----><tr class="line"><td class="line-number"></td><td class="line-marker"></td><td class="code flex"><span><!--?lit$094480238$-->                <span class="mutant border-none CompileError" title="Block removal mutation CompileError" mutant-id="525"><span class="token punctuation"><span class="mutant border-none CompileError" title="Array initializer mutation CompileError" mutant-id="568">{</span></span><span class="mutant border-none CompileError" title="Array initializer mutation CompileError" mutant-id="568"> rxx<span class="token punctuation">,</span> rxy<span class="token punctuation">,</span> rxz <span class="token punctuation">}</span><span class="token punctuation"></span></span><span class="token punctuation">,</span></span></span><!--?lit$094480238$--></td></tr><!----><!----><tr class="line"><td class="line-number"></td><td class="line-marker"></td><td class="code flex"><span><!--?lit$094480238$-->                <span class="mutant border-none CompileError" title="Block removal mutation CompileError" mutant-id="525"><span class="token punctuation"><span class="mutant border-none CompileError" title="Array initializer mutation CompileError" mutant-id="569">{</span></span><span class="mutant border-none CompileError" title="Array initializer mutation CompileError" mutant-id="569"> r21<span class="token punctuation">,</span> r22<span class="token punctuation">,</span> r23 <span class="token punctuation">}</span><span class="token punctuation"></span></span><span class="token punctuation">,</span></span></span><!--?lit$094480238$--></td></tr><!----><!----><tr class="line"><td class="line-number"></td><td class="line-marker"></td><td class="code flex"><span><!--?lit$094480238$-->                <span class="mutant border-none CompileError" title="Block removal mutation CompileError" mutant-id="525"><span class="token punctuation"><span class="mutant border-none CompileError" title="Array initializer mutation CompileError" mutant-id="570">{</span></span><span class="mutant border-none CompileError" title="Array initializer mutation CompileError" mutant-id="570"> r31<span class="token punctuation">,</span> r32<span class="token punctuation">,</span> r33 <span class="token punctuation">}</span><span class="token punctuation"></span></span><span class="token punctuation">,</span></span></span><!--?lit$094480238$--></td></tr><!----><!----><tr class="line"><td class="line-number"></td><td class="line-marker"></td><td class="code flex"><span><!--?lit$094480238$-->            <span class="mutant border-none CompileError" title="Block removal mutation CompileError" mutant-id="525"><span class="token punctuation">}</span></span></span><!--?lit$094480238$--></td></tr><!----><!----><tr class="line"><td class="line-number"></td><td class="line-marker"></td><td class="code flex"><span><!--?lit$094480238$-->        <span class="mutant border-none CompileError" title="Block removal mutation CompileError" mutant-id="525"><span class="token punctuation">)</span><span class="token punctuation">;</span></span></span><!--?lit$094480238$--></td></tr><!----><!----><tr class="line"><td class="line-number"></td><td class="line-marker"></td><td class="code flex"><span><!--?lit$094480238$-->    <span class="mutant border-none CompileError" title="Block removal mutation CompileError" mutant-id="525"><span class="token punctuation">}</span></span></span><!--?lit$094480238$--></td></tr><!----><!----><tr class="line"><td class="line-number"></td><td class="line-marker"></td><td class="code flex"><span><!--?lit$094480238$--><span class="mutant border-none CompileError" title="Block removal mutation CompileError" mutant-id="525"></span></span><!--?lit$094480238$--></td></tr><!----><!---->

          </table>
          </code>
          </pre>

          <style>
    #report-code-block {
        background: var(--prism-background);
        border: 1px solid var(--prism-border);
        overflow-x: auto;
        overflow-y: visible
    }

    .line-numbers {
        counter-reset: mte-line-number
    }

    .line .line-number {
        color: var(--mut-line-number);
        counter-increment: mte-line-number;
        padding: 0 10px 0 15px;
        text-align: right
    }

        .line .line-number:before {
            content: counter(mte-line-number)
        }

    .line-marker:before {
        content: " ";
        padding: 0 5px
    }

    .mte-selected-Pending .mutant.Pending {
        border-bottom: 2px solid;
        border-color: #a3a3a3;
        cursor: pointer
    }

    svg.mutant-dot.Pending {
        fill: #a3a3a3
    }

    .mte-selected-Killed .mutant.Killed {
        border-bottom: 2px solid;
        border-color: #16a34a;
        cursor: pointer
    }

    svg.mutant-dot.Killed {
        fill: #16a34a
    }

    svg.mutant-dot.NoCoverage {
        fill: #f97316
    }

    svg.mutant-dot.Survived {
        fill: #ef4444
    }

    .mte-selected-Timeout .mutant.Timeout {
        border-bottom: 2px solid;
        border-color: #fbbf24;
        cursor: pointer
    }

    svg.mutant-dot.Timeout {
        fill: #fbbf24
    }

    .mte-selected-CompileError .mutant.CompileError {
        border-bottom: 2px solid;
        border-color: #a3a3a3;
        cursor: pointer
    }

    svg.mutant-dot.CompileError {
        fill: #a3a3a3
    }

    .mte-selected-RuntimeError .mutant.RuntimeError {
        border-bottom: 2px solid;
        border-color: #a3a3a3;
        cursor: pointer
    }

    svg.mutant-dot.RuntimeError {
        fill: #a3a3a3
    }

    .mte-selected-Ignored .mutant.Ignored {
        border-bottom: 2px solid;
        border-color: #a3a3a3;
        cursor: pointer
    }

    svg.mutant-dot.Ignored {
        fill: #a3a3a3
    }

    svg.mutant-dot.selected {
        fill: #38bdf8
    }

    .mte-selected-Survived .mutant.Survived {
        border-bottom-style: solid;
        border-image-outset: 6px;
        border-image-repeat: repeat;
        border-image-slice: 0 0 4 0;
        border-image-source: var(--mut-squiggly-Survived);
        border-image-width: 4px;
        cursor: pointer
    }

        .mte-selected-Survived .mutant.Survived .mutant.NoCoverage, .mte-selected-Survived .mutant.Survived .mutant.Survived {
            border-bottom-style: none;
            border-image: none
        }

    .mte-selected-NoCoverage .mutant.NoCoverage {
        border-bottom-style: solid;
        border-image-outset: 6px;
        border-image-repeat: repeat;
        border-image-slice: 0 0 4 0;
        border-image-source: var(--mut-squiggly-NoCoverage);
        border-image-width: 4px;
        cursor: pointer
    }

        .mte-selected-NoCoverage .mutant.NoCoverage .mutant.NoCoverage, .mte-selected-NoCoverage .mutant.NoCoverage .mutant.Survived {
            border-bottom-style: none;
            border-image: none
        }

    .mutant-dot {
        cursor: pointer
    }

    svg.mutant-dot {
        margin: 2px
    }

    .diff-old {
        background-color: var(--mut-diff-del-bg)
    }

    .diff-focus {
        background-color: var(--mut-diff-add-bg-line-number)
    }

    .diff-old .line-number {
        background-color: var(--mut-diff-del-bg-line-number);
        color: var(--mut-diff-del-line-number)
    }

    .diff-old .line-marker:before {
        content: "-"
    }

    .diff-new {
        background-color: var(--mut-diff-add-bg)
    }

        .diff-new .empty-line-number {
            background-color: var(--mut-diff-add-bg-line-number);
            color: var(--mut-diff-add-line-number)
        }

        .diff-new .line-marker:before {
            content: "+"
        }


/*     :host(:not([theme=dark])) {
        --mut-gray-bg: rgb(var(--mut-white,255 255 255)/1);
        --mut-octicon-icon-color: #498ba7;
        --mut-line-number: #6e7781;
        --mut-diff-add-bg: #e6ffec;
        --mut-diff-add-bg-line-number: #ccffd8;
        --mut-diff-add-line-number: #24292f;
        --mut-diff-del-bg: #ffebe9;
        --mut-diff-del-bg-line-number: #ffd7d5;
        --mut-diff-del-line-number: var(--mut-diff-add-line-number);
        --mut-badge-info-bg: #54c6ec;
        --mut-badge-info: #212529;
        --mut-code-lense: #919191;
        --mut-squiggly-Survived: url("data:image/svg+xml;charset=UTF8,<svg xmlns='http://www.w3.org/2000/svg' height='3' width='6'><g fill='%23ef4444'><path d='m5.5 0-3 3H1.1l3-3z'/><path d='m4 0 2 2V.6L5.4 0zM0 2l1 1h1.4L0 .6z'/></g></svg>");
        --mut-squiggly-NoCoverage: url("data:image/svg+xml;charset=UTF8,<svg xmlns='http://www.w3.org/2000/svg' height='3' width='6'><g fill='%23fb923c'><path d='m5.5 0-3 3H1.1l3-3z'/><path d='m4 0 2 2V.6L5.4 0zM0 2l1 1h1.4L0 .6z'/></g></svg>");
        --mut-body-bg: #fff
    } */

    :root {
        color-scheme: dark;
        --mut-gray-50: 24 24 27;
        --mut-gray-100: 39 39 42;
        --mut-gray-200: 63 63 70;
        --mut-gray-300: 82 82 91;
        --mut-gray-400: 113 113 122;
        --mut-gray-500: 161 161 170;
        --mut-gray-600: 212 212 216;
        --mut-gray-700: 228 228 231;
        --mut-gray-800: 244 244 245;
        --mut-gray-900: 250 250 250;
        --mut-primary-100: 7 89 133;
        --mut-primary-800: 224 242 254;
        --mut-primary-900: 240 249 255;
        --mut-primary-on: 14 165 233;
        --mut-body-bg: #18181b;
        --mut-white: var(--mut-gray-50);
        --mut-octicon-icon-color: #519aba;
        --mut-line-number: #484f58;
        --mut-diff-add-bg: rgba(46,160,67,.15);
        --mut-diff-add-bg-line-number: rgba(63,185,80,.3);
        --mut-diff-add-line-number: #c9d1d9;
        --mut-diff-del-bg: rgba(248,81,73,.15);
        --mut-diff-del-bg-line-number: rgba(248,81,73,.3);
        --mut-diff-del-line-number: #c9d1d9;
        --mut-badge-info-bg: #17a3b8;
        --mut-badge-info: #fff;
        --mut-code-lense: #999;
        --mut-squiggly-Survived: url("data:image/svg+xml;charset=UTF8,<svg xmlns='http://www.w3.org/2000/svg' height='3' width='6'><g fill='%23ef4444'><path d='m5.5 0-3 3H1.1l3-3z'/><path d='m4 0 2 2V.6L5.4 0zM0 2l1 1h1.4L0 .6z'/></g></svg>");
        --mut-squiggly-NoCoverage: url("data:image/svg+xml;charset=UTF8,<svg xmlns='http://www.w3.org/2000/svg' height='3' width='6'><g fill='%23fb923c'><path d='m5.5 0-3 3H1.1l3-3z'/><path d='m4 0 2 2V.6L5.4 0zM0 2l1 1h1.4L0 .6z'/></g></svg>")
    }
          </style>
