@page "/auth-state-changed"
@layout FullScreenLayout

@inject NavigationManager NavagationManager
@inject ILocalStorageService localStorageService
@inject IHttpContextAccessor httpContextAccessor
@* @attribute [Authorize] *@

@rendermode @(new InteractiveServerRenderMode(prerender: false))

<div class="p-4">
    <h3>Authenticating ...</h3>
</div>

@code {
    [SupplyParameterFromQuery]
    public string? ReturnUrl { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            if (httpContextAccessor.HttpContext?.Request.Cookies[CommonApiConstants.ACCESS_TOKEN_GUID] is string accessToken)
            {
                await localStorageService.SetItemAsync(CommonApiConstants.ACCESS_TOKEN_GUID, accessToken);
            }

            if (httpContextAccessor.HttpContext?.Request.Cookies[CommonApiConstants.REFRESH_TOKEN_GUID] is string refreshToken)
            {
                await localStorageService.SetItemAsync(CommonApiConstants.REFRESH_TOKEN_GUID, refreshToken);
            }

            NavagationManager.NavigateTo(ReturnUrl ?? "/", true);
        }

        await base.OnAfterRenderAsync(firstRender);
    }
}
