@page "/auth-state-changed"

@inject NavigationManager NavagationManager
@inject ILocalStorageService localStorageService
@inject IHttpContextAccessor httpContextAccessor
@* @attribute [Authorize] *@

@* @rendermode render mode must be static (default value) *@
@rendermode @(new InteractiveServerRenderMode(prerender: false))

<h3>AuthStateChanged</h3>

@code {
    [SupplyParameterFromQuery]
    public string? ReturnUrl { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (httpContextAccessor.HttpContext?.Request.Cookies["Authorization"] is string accessToken)
        {
            await localStorageService.SetItemAsync("Authorization", accessToken);
        }

        if (httpContextAccessor.HttpContext?.Request.Cookies["Refresh"] is string refreshToken)
        {
            await localStorageService.SetItemAsync("Refresh", refreshToken);
        }

        NavagationManager.NavigateTo(ReturnUrl ?? "/");
    }
}
