@page "/models"
@using System.Security.Claims
@using BeamOs.WebApp.Components.Pages
@using Microsoft.AspNetCore.Authorization

@inherits FluxorComponent

<PageTitle>Models</PageTitle>

<AuthorizeView>
    <Authorized>
        <MudContainer MaxWidth="MaxWidth.Large" Class="py-8">
            <!-- Search Bar and Create Button -->
            <div class="flex justify-between items-center mb-6">
                <MudTextField @bind-Value="SearchTerm" Placeholder="Search by model name..." Variant="Variant.Outlined" Class="w-1/2 mr-6" />
                <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="ShowCreateModelDialog">
                    Create New Model
                </MudButton>
            </div>

            <!-- Models Grid -->
            <MudText Typo="Typo.h4" Class="mb-4">Available Models</MudText>
            <MudGrid>
                @foreach (var model in FilteredModels)
                {
                    <MudItem xs="12" sm="6" md="4" lg="3" Class="mb-4">
                        <MudCard Class="h-full">
                            <MudCardHeader>
                                <MudText Typo="Typo.h6">@model.Name</MudText>
                            </MudCardHeader>
                            <MudCardContent>
                                <MudText Typo="Typo.body2">@model.Description</MudText>
                                <MudChip T="string" Color="GetBadgeColor(model.Role)" Variant="Variant.Text" Class="ml-2">
                                    @model.Role
                                </MudChip>
                            </MudCardContent>
                            <MudCardActions>
                                <MudButton Variant="Variant.Filled" Color="Color.Primary" Href="@ModelEditor.GetRelativeUrl(model.Id)">
                                    View
                                </MudButton>
                            </MudCardActions>
                        </MudCard>
                    </MudItem>
                }
            </MudGrid>
        </MudContainer>
    </Authorized>
    <NotAuthorized>
        <MudContainer MaxWidth="MaxWidth.Medium" Class="py-8">
            <MudPaper Class="p-8 text-center">
                <MudText Typo="Typo.h5" Class="mb-4">You need to log in to view or modify models.</MudText>
                <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="RedirectToLogin">
                    Log In
                </MudButton>
            </MudPaper>
        </MudContainer>
    </NotAuthorized>
</AuthorizeView>
