@page "/editor"
@using BeamOS.PhysicalModel.Contracts.Model
@using BeamOS.PhysicalModel.Contracts.Node
@rendermode InteractiveAuto
@inject BeamOS.PhysicalModel.Client.Interfaces.IPhysicalModelAlphaClient physicalModelClient
@inject IJSRuntime js

<PageTitle>Editor</PageTitle>

<canvas id="editor" style="height: 600px; width: 100%;"></canvas>

<button @onclick="AddNode">
    Add Node
</button>

<button @onclick="LoadModel">
    Load Model
</button>

<button @onclick="SayHello">
    Say Hello
</button>

@code {
    ElementReference editorReference;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await js.InvokeVoidAsync("createFromId", "editor");
        }
        await base.OnAfterRenderAsync(firstRender);
    }

    private async Task AddNode()
    {
        CreateNodeRequest y = new CreateNodeRequest(
            "00000000-0000-0000-0000-000000000000",
            10,
            10,
            10,
            "Foot");
        NodeResponse? x = await physicalModelClient.CreateNode(y);
        await js.InvokeVoidAsync("beamOsEditor.commands.addNodeCommand", x);
    }

    private async Task LoadModel()
    {
        ModelResponse response = await physicalModelClient.GetModel("00000000-0000-0000-0000-000000000000");
        foreach (NodeResponse? nodeResponse in response.Nodes)
        {
            await js.InvokeVoidAsync("beamOsEditor.commands.addNodeCommand", nodeResponse);
        }
        ;
    }

    private async Task LoadEditor()
    {
    }

    private async Task SayHello()
    {
        await js.InvokeVoidAsync("beamOsEditor.sayHello");
    }
}
