@using BeamOs.WebApp.Client.Components.Features.Styles
@using Microsoft.AspNetCore.Components.Rendering
@inherits FullScreenLayout

@inject IsDarkModeProvider IsDarkModeProvider

<MudThemeProvider @bind-IsDarkMode="IsDarkModeProvider.IsDarkMode" />

<NavBar @bind-IsDarkMode="IsDarkModeProvider.IsDarkMode" />
@* <MudDrawer @bind-Open="@open" Elevation="1" ClipMode="DrawerClipMode.Always">
    <NavMenu />
</MudDrawer> *@
<MudMainContent Class="h-full">
    <MudContainer MaxWidth="MaxWidth.False" Gutters="false" Class="h-full">
        @Body
    </MudContainer>
</MudMainContent>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

@code {
    private string inputValue = "initial";
    private bool open = false;
}
